# Data Loading, Storage, Format

## 6.1 Reading and Writing Data in Text Format

|函数|描述|
|----|----|
|read_csv|从文件，URL或文件型对象读取分隔好的数据，逗号是默认分隔符|
|read_table|从文件，URL或文件型对象读取分隔好的数据，制表符('\t')是默认分隔符|
|read_fwf|从特定宽度格式的文件中读取数据(无分隔符)|
|read_clipboard|read_table的剪贴板版本，在将表格从Web页面上转换成数据时有用|
|read_excel|从Excel的XLS或XLSX文件中读取表格数据|
|read_hdf|读取用pandas存储的HDF5文件|
|read_html|从HTML文件中读取所有表格数据|
|read_json|从JSON(JavaScript Object Notation)字符串中读取数据|
|read_msgpack|读取MessagePack二进制格式的pandas数据|
|read_pickle|读取以Python pickle格式存储的任意对象|
|read_sas|读取存储在SAS系统中定制存储格式的SAS数据集|
|read_sql|将SQL查询的结果(使用SQLAlchemy)读取为pandas的DataFrame|
|read_stata|读取Stata格式的数据集|
|read feather|读取Feather二进制格式|

CSV文件是电子表格程序常用的逗号分隔值文件，它包含以逗号为分隔的纯文本数据集，CSV文件中的每一个新行表示一个新的数据库行，每个数据库行由一个或多个以逗号分隔的字段组成

In [2]:
# 打印文件的原始内容
!type C:\Users\lenovo\Desktop\Python_data_analysis\my_data_analysis\examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('examples/ex1.csv') # 使用read_csv将它读入一个DataFrame
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_table('examples/ex1.csv', sep=',') # 指定分隔符

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

不包含表头行

In [10]:
!type C:\Users\lenovo\Desktop\Python_data_analysis\my_data_analysis\examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [13]:
pd.read_csv('examples/ex2.csv', header=None) # 默认列名 (0,1,2,3,4)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [14]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message']) # 指定列名

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')
# messages返回DataFrame的索引，指定位置4的列为索引，或将'message'传给参数index_col

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [17]:
!type C:\Users\lenovo\Desktop\Python_data_analysis\my_data_analysis\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [18]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2']) # 将key1,key2作为索引
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [20]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

当字段以多种不同数量的空格分开时，可向read_table中传入一个正则表达式作为分隔符

In [22]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result
# 列名的数量比数据列数少一个，推断其为DataFrame的索引

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

使用skiprows跳过行

In [25]:
!type C:\Users\lenovo\Desktop\Python_data_analysis\my_data_analysis\examples\ex4.csv
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])
#0    # hey!
#1    a,b,c,d,message
#2  # just wanted to make things more difficult for you
#3  # who reads CSV files with computers, anyway?
#4  1,2,3,4,hello
#5  5,6,7,8,world
#6  9,10,11,12,foo

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [26]:
!type C:\Users\lenovo\Desktop\Python_data_analysis\my_data_analysis\examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [27]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
pd.isnull(result) # 判断是否为缺失值

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

na_values选项可以传入一个列表或一组字符串来处理缺失值

In [31]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL']) # 将NULL传入缺失值
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [32]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels) # 指定某位置成为一个缺失值

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [33]:
pd.read_csv('examples\ex5.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

### 6.1.1 Reading Text Files in Pieces

In [35]:
pd.options.display.max_rows = 10 # 进行调整，只显示10列

In [37]:
result=pd.read_csv('examples\ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

读取一小部分行(避免读取整个文件)，可指明nrows

In [38]:
pd.read_csv('examples\ex6.csv',nrows=5) # 只读取前五行

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

可以分块读入文件，指定chunksize作为每一块的行数

In [51]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000) # 1000行为一块
chunker

In [52]:
# 统计，key这列每个元素出现的频率
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0) # 没有对应的值则为0

tot = tot.sort_values(ascending=False) # 按照降序排序

In [54]:
tot[:10] # 查看前10个

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

TextParser还具有get_chunk方法，允许按照任意大小读取数据块

### 6.1.2 Writing Data to Text Format

In [55]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

DataFrame中的to_csv方法，将数据导出为逗号分隔的文件

In [58]:
data.to_csv('examples\out.csv') # 写入文档

In [59]:
!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

其他的分隔符也可（写入到sys.stdout时，控制台中打印的文本的结果） 类似于print

In [61]:
import sys
data.to_csv(sys.stdout,sep='|') # 输出到屏幕，使用|分割

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [63]:
data.to_csv(sys.stdout, na_rep='NULL') # 缺失值用NULL填充

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [64]:
data.to_csv(sys.stdout, index=False, header=False) # 写入文档，去掉index，去掉header

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [65]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c']) # 写入文档，列名各为a,b,c

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series也有to_csv方法

In [67]:
# 生成时间数据，从2000年1月1日开始，期限为7天
dates = pd.date_range('1/1/2000', periods=7)  # 数据类型为datatime
# 生成0-6  7个数字，索引为刚才生成的日期
ts = pd.Series(np.arange(7), index=dates)
# 将文档写入文件
ts.to_csv('examples/tseries.csv')
!type examples\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### 6.1.3 Working with Delimited Formats

In [68]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

对于任何带有单字符分隔符的文件，可使用Python的内建csv模块，要使用它，需要将任一打开的文件或文件类型对象传给csv.reader

In [70]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f) # 读出来的reader是一个可迭代的对象
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [71]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f)) # 将文件读取为行的列表

In [74]:
# 将数据拆分为列名行和数据行
header,values=lines[0],lines[1:]
# lines[0] ---> ['a','b','c']
# lines[1:] ---> [['1', '2', '3'],['1', '2', '3']]

使用字典推导式和表达式zip(*values)生成一个包含数据列的字典

In [76]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

CSV文件有多种不同风格，如需根据不同的分隔符，字符串引用约定或行终止符定义一种新的格式时，可使用csv.Dialect定义一个简单的子类
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(f, dialect=my_dialect)

也可不定义子类，直接将CSV方言参数传入csv.reader的关键字参数
reader=csv.reader(f,delimiter='|')

对于具有跟复杂或固定的多字符分隔符的文件，无法使用csv模块，不得不使用split方法或正则表达式方法对re.split进行行拆分和其他清理工作

需要手动写入被分隔的文件时，可使用csv.writer，这个函数接收一个已经打开的可写入文件对象以及和csv.reader相同的CSV方言
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### 6.1.4 JSON Data

In [77]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
""" # """三引号表示允许输入多行字符串"""

将JSON字符串转化为Python形式时，使用json.loads方法

In [78]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

使用json.dumps可将Python对象转换回JSON

In [81]:
asjson=json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [82]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings
# result变量里面的'siblings'对应的字典
# 字典里面取出name和age作为列

    name  age
0  Scott   30
1  Katie   38

pandas.read_json可以自动将JSON数据集按照指定次序转换为Series或DataFrame

In [83]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [84]:
data = pd.read_json('examples/example.json') # pandas.read_json的默认选项是假设JSON数组中的每个对象是表里的一行
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [89]:
print(data.to_json()) # 在线转换为JSON，列输出

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [90]:
print(data.to_json(orient='records')) # 行输出

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### 6.1.5 XML and HTML: Web Scraping

pandas的内建函数read_html可以使用lxml和Beautiful Soup等库将HTML中的表自动解析为DataFrame对象

conda install lxml
pip install beautifulsoup4 html5lib

In [91]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)

1

In [94]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [95]:
# 计算每年银行倒闭的数量
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

#### 6.1.5.1 Parsing XML with lxml.objectify

<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>

使用lxml.objectify，可解析这个文件，并用getroot来获得对XML文件的根节点的引用

In [99]:
from lxml import objectify
path = 'C:/Users/lenovo\Desktop/Python_data_analysis/my_data_analysis/datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot() # 获得对XML文件的根节点引用

root.INDICATOR返回一个生成器，可以产生每一个<INDICATOR>XML元素，对于每条记录，我们可以将标签名称的字典(如YTD_ACTUAL)填充为数据值(不包括几个标签)

In [100]:
data = [] # 存储所有数据的列表
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES'] # 这几个标签下的值不要

for elt in root.INDICATOR: # 一组数据
    el_data = {} # 存储该数据的字典
    for child in elt.getchildren(): # 取出一列数据
        if child.tag in skip_fields: # 如果这列的标签在我们上面定义的列表里
            continue # 舍弃，继续
        el_data[child.tag] = child.pyval # 如果不在，标签列作为key值，这列的pyval作为value值加入字典
    data.append(el_data) # 该组数据加入总体数据列表

In [101]:
# 将包含字典的列表转换为DataFrame
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

XML数据可以比例子更复杂，每个标签也可以包含元数据，考虑一个HTML连接标签，也是有效的XML

In [104]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

访问标签或链接文本中的任何字段

In [105]:
root

In [106]:
root.get('href')

'http://www.google.com'

In [107]:
root.text

'Google'

## 6.2 Binary Data Formats

使用Python内建的pickle序列化模块进二进制格式操作时存储数据（也称序列化）

In [108]:
frame = pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [110]:
frame.to_pickle('examples/frame_pickle') # 保存为二进制格式

pickle仅被推荐为短期的存储格式，pickle很难确保格式的长期有效性

!rm examples\frame_pickle

### 6.2.1 Using HDF5 Format

HDF5用于存储大量的科学数组数据；HDF5中的"HDF"代表分层数据格式，每个HDF5文件可以存储多个数据集并且支持元数据。支持多种压缩模式的即时压缩，适合处理不适合在内存中存储的超大类型的数据，可高效读写大型数组的一小块

元数据是关于数据的组织，数据域及其关系的信息，简言之，元数据就是关于数据的数据

In [1]:
import pandas as pd
import numpy as np
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5') # HDFStore类像字典一样工作并处理低级别细节
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [2]:
store['obj1'] # 包含在HDF5文件中的对象可以使用相同的字典型API进行检索

           a
0  -0.240912
1  -1.377786
2   0.701067
3  -0.404790
4   0.106018
5  -0.181992
6  -0.198949
7  -0.912152
8   0.788934
9   0.408858
10 -1.175272
11  0.229816
12 -0.084919
13  0.162719
14  0.303014
15 -2.467196
16  0.603415
17 -0.532720
18 -0.315738
19  0.765504
20  2.417006
21  0.060083
22  0.166271
23  0.803905
24 -0.002854
25  0.608242
26  2.747940
27  0.640609
28  0.886222
29 -1.102806
..       ...
70  1.769844
71 -0.778224
72  2.413306
73  0.310390
74  0.196617
75  0.493748
76  0.385163
77  1.636061
78 -1.092926
79  0.925612
80  2.571755
81  1.798587
82 -0.042452
83  0.397842
84  0.660328
85 -0.091194
86 -1.316924
87 -0.360023
88  0.375756
89 -0.498325
90 -1.210495
91  0.859599
92  1.555367
93 -0.057819
94 -1.712130
95 -1.015670
96 -0.035826
97  1.180318
98  2.161541
99 -0.773037

[100 rows x 1 columns]

HDFStore支持两种模式，'fixed'和'table',后者速度更慢，但支持一种特殊语法的查询操作

In [3]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10 -1.175272
11  0.229816
12 -0.084919
13  0.162719
14  0.303014
15 -2.467196

In [4]:
store.close()

put是store['obj2']=frame方法的显式版本，但允许我们设置其他的选项，如存储格式；pandas.read_hdf函数是这些工具的快捷方法

In [5]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.240912
1 -1.377786
2  0.701067
3 -0.404790
4  0.106018

### 6.2.2 Reading Microsoft Excel Files

pandas也支持通过ExcelFile类或pandas.read_excel函数来读取存储在Excel 2003（或更高版本）文件中的表格数据

In [7]:
xlsx = pd.ExcelFile('examples/ex1.xlsx') # 使用ExcelFile，通过将xls或xlsx的路径传入，生成一个实例
pd.read_excel(xlsx, 'Sheet1') # 读取到DataFrame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

将pandas数据写入到Excel格式中，必须先生成一个ExcelWriter，然后使用pandas对象的to_excel方法将数据写入

In [9]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [10]:
frame.to_excel('examples/ex2.xlsx')

!type examples\ex2.xlsx

## 6.3 Interacting with Web APIs

获取GitHub上最新的关于pandas的问题，可使用附加库requests发送一个HTTP GET请求

In [14]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

Response（响应）对象的json方法将返回一个包含解析为本地Python对象的JSON的字典

In [15]:
data = resp.json()
data[0]['title']

'BUG: pandas not connecting to private S3 endpoint'

In [17]:
# data中的每个原始都是一个包含GitHub问题的页面上的所有数据的字典（注释除外）
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,37892,BUG: pandas not connecting to private S3 endpoint,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,37891,CI upgrade pyupgrade to v2.7.4,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
2,37890,BUG:BadZipFile CRC-32 for file 'docProps/core....,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,37889,BUG:BadZipFile CRC-32 for file 'docProps/core....,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,37888,BUG: df.str.contains(XX) return False when XX ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,37887,TST: parametrize test_info,[],open
6,37886,REF: Use more memory views in rolling aggregat...,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
7,37885,REF: Index._intersection,[],open
8,37884,REF: make casting explicit in CategoricalIndex,[],open
9,37882,BUG: `pandas.Index` cannot be subclassed (desp...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
10,37881,REF: simplify setitem_with_indexer,[],open
11,37878,ENH: Support groupby.ewm operations,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
12,37877,DEPR: Index.asi8,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
13,37875,DOC: Fix EX01 issues in docstrings,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,37874,BUG in reindex raises IndexingError when df is...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
15,37873,BUG: __getitem__ raise blank KeyError for Inte...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
16,37872,REF: share _simple_new,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
17,37871,REF: share IntervalIndex._check_method with Ca...,"[{'id': 150096370, 'node_id': 'MDU6TGFiZWwxNTA...",open
18,37870,ENH: Add support for min_count keyword for Res...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
19,37869,ENH/POC: ExtensionIndex for arbitrary EAs,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
20,37868,REF: prepare dataframe info for series info,[],open
21,37867,BUG: membership checks on ExtensionArray conta...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
22,37866,TYP: NDFrame sort_values signature,"[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...",open
23,37865,CLN: share some more datetimelike index methods,[],open
24,37864,ENH: Implement cross method for Merge Operations,[],open
25,37863,API/BUG: DatetimeIndex.argsort does not match ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,37862,CLN/TYP: pandas/io/formats/excel.py,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
27,37860,CLN: use putmask_simple instead of putmask,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
28,37856,DEP: update Versioneer,"[{'id': 527603109, 'node_id': 'MDU6TGFiZWw1Mjc...",open
29,37854,CLN: Another unused script,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open

## 6.4 Interacting with Databases

In [ ]:
import sqlite3 # 使用Python内建的sqlite3驱动来生成一个SQLite数据库
query = """ 
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
# 三引号表示允许输入多行
# 其中a，b字段是字符串类型，最长是20，c是十进制8位存储，d是整数类型
con = sqlite3.connect('mydata.sqlite')
# 当我们指定的数据库文件不存在的时候，连接对象回自动创建数据库文件，入伙数据库文件已经存在，直接打开该数据库文件
con.execute(query) # 执行命令
con.commit()  # 提交命令
# 对数据库产生修改的语句，要commit才会生效，如果是查询，就只要execute提交语句

In [22]:
# 插入数据
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)

In [23]:
con.commit()

In [25]:
cursor = con.execute('select * from test') # *是通配符，类似于正则表达式，在test表格里读出所有的数据
# 返回类似一个指针，指向数据表中某一行
rows = cursor.fetchall() # fetchall表示读出
rows # 读出类表格内容，但是没有读出列名

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

可将元组的列表传给DataFrame构造函数，但还需要包含在游标的description属性中的列名

In [26]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [27]:
for x in cursor.description:
    print(x[0])

a
b
c
d

In [28]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5

pandas有一个read_sql函数允许你从通用的SQLAlchemy连接中轻松地读取数据

In [29]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5