# 数据载入，存储及文件格式

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)  # 设置伪随机数生成器的种子起点，保证实验结果一致
import matplotlib.pyplot as plt
plt.rc('figure',figsize=(10,6))  # 格式设置
np.set_printoptions(precision=4,suppress=True)  # 格式设置

## 6.1 文本格式的读写
#### Pandas可以读取各种格式的数据
#### 输入代码，按Tab键补全，可以查看所有函数

In [3]:
# pd.read_

### !type
#### 查看原始内容, Unix shell使用的是!cat
#### windows中使用!type
#### 注意这里斜杠的方向，与Unix shell 的方向不同

In [4]:
!type D:\examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

#### 可以看到这个文件是逗号分隔的，下面我们使用read_csv将该文件读入DataFrame

### read_csv
#### 逗号是默认分隔符

In [5]:
import pandas as pd
df=pd.read_csv('D:/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### read_table
#### read_table,允许自己指定分隔符

In [6]:
#  这里用sep指定','为默认分隔符
pd.read_table('D:/examples/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### header参数
#### 有的文件没有头行，比如下面这个

In [8]:
!type D:\examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

#### 设置header=None,会默认给个数字当表头

In [9]:
pd.read_csv('D:\examples\ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

### 参数names
#### 或者，用names=自己设置的表头

In [10]:
pd.read_csv('D:\examples\ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 参数Index_col
#### 如果你想指定第四列为索引，可以使用，index_col=

In [12]:
name=['a','b','c','d','message']
pd.read_csv('D:\examples\ex2.csv',names=name,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

#### 想要设置分层索引 
#### 如分成两个one two
#### one下分四个abcd
#### two下分四个abcd
#### 我们看下面这个文件

In [13]:
!type D:\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

#### 则使用index_col指定两列索引['key1','key2']

In [14]:
parsed=pd.read_csv('D:\examples\csv_mindex.csv',
                  index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [2]:
! type C:\Users\lenovo\Desktop\Python_data_analysis\pydata-book-2nd-edition\examplesfdic_failed_bank_list.html

命令语法不正确。